@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");

body {
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  background-size: 100%;
}

.box-first {
  display: block;
  margin: 0 auto;
  color: #f6f6f6;
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/932/original/lukasz-lada-LtWFFVi1RXQ-unsplash.jpg?1662814633);
  background-size: 102%;
  text-align: center;
  width: 600px;
  height: 25em;
  border: 1px solid;
  border-radius: 24px 24px;
  margin-top: 80px;
  margin-left: 16em;
  padding: 10px;
  opacity: 1;
}
.box-second {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #f6f6f6;
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/932/original/lukasz-lada-LtWFFVi1RXQ-unsplash.jpg?1662814633);
  background-size: 102%;
  opacity: 0.8;
  width: 600px;
  height: 12em;
  border: 1px solid;
  border-radius: 24px 24px;
  margin-top: -7px;
  margin-left: 20.6em;
  padding: 20px;
}
select {
  margin-top: 2px;
  background-color: #d9dad7;
}
.searching {
  padding-bottom:3px;
  margin-top: 10px;
  margin-left: 170px;
  background-color:#d9dad7 ;
  border-radius: 5px;
  color: #3e4a61;
  border: 2px solid #3e4a61;
}
.search:hover {
  color:#3e4a61;
  background-color: #d9dad7;
  border: 1px solid #3e4a61;
  transition: 0.3s;
}
.search {
  padding: 1px 6px 3px;
  border-radius: 5px;
  cursor: pointer;
  color:#d9dad7;
  background-color:#385170 ;
  border: 1px solid #d9dad7;
}

button:hover {
  color: #3e4a61;
  background-color:#d9dad7 ;
  border: 1px solid #3e4a61;
  transition: 0.3s;
}
button {
  padding-bottom: 2px;
  border-radius: 5px;
  cursor: pointer;
  color:#d9dad7;
  background-color:#3e4a61 ;
  border: 1px solid #d9dad7;
}
.fahrenheit:hover {
  color: #3e4a61;
  background-color:#d9dad7 ;
  border: 1px solid #3e4a61;
  transition: 0.3s;
}
.fahrenheit {
  background-color: #3e4a61;
  color:#d9dad7;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 4px;
  border: 1px solid #d9dad7;
  cursor: pointer;
}
.celsius:hover {
  color:#3e4a61 ;
  background-color:#d9dad7;
  border: 1px solid #3e4a61;
  transition: 0.3s;
}
.celsius {
  background-color: #3e4a61;
  color:#d9dad7;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 4px;
  border: 1px solid #d9dad7;
  cursor: pointer;
}

h1 {
  font-family: "Raleway";
  font-size: 45px;
  text-align: left;
  margin-left: 25px;
  margin-top: 30px;
  color: #fff;
 
}
.data {
  color: #f6f6f6;
  text-align: left;
  font-size: small;
  margin-left: 12em;
  word-spacing: 5px;
}
.for {
  position: relative;
  font-size: 80px;
  margin-top: 90px;
  margin-left:-4.5em;
  -webkit-text-stroke: 2px #3e4a61;
}
.sunny {
  position: relative;
  font-size: 150px;
  margin-top:-225px;
  margin-left: 4.3em;
  color: #f6f6f6;
  
}
hr {
  border: none;
  background-color: #f6f6f6;
  color: red;
  height: 2px;
  width: 35em;
  margin-left: 22em;
  margin-top: 23px;
}
.col-auto {
  color: #f6f6f6;
  font-family: "Lato";
  text-decoration: underline;
  background: linear-gradient(
    177.9deg,
    #3a3e58 3.6%,
    rgb(119, 127, 148) 105.8%
  );
  position: relative;
  left: 20.6em;
  top: -10em;
  width: 80px;
  border: 1px solid;
  border-radius: 15px 15px;
  transition: all 0.2s ease-in-out;
  padding: 26px 5px ;
  padding-bottom: 5px;
}
.col-auto:hover {
  transform: scale(1.1);
}
.indicators{
  display:flex;
}
ul {
  list-style: none;
  text-align: center;
  margin-top: 1px;
  margin-bottom: -20px;
  margin-left:24.1em;
}
li {
  color: #f6f6f6;
  display: inline;
  margin: 10px 10px;
  word-spacing: 25px;
}
.degrees:hover {
 
  text-decoration: none;
}
.weather-min-temperature {
  font-weight: bold;
margin-bottom: 25px;
}
.weather-min-temperature .active:hover {
  text-decoration: none;
}
.weather-days {
  font-weight: bold;
  margin-bottom: 30px;
}
.source {
  font-size: 14px;
  color: #f6f6f6;
  text-align: left;
  margin-left: 23.3em;
  margin-top:-130px;
}
.icon{
  display: block;
  margin:0 auto;
  margin-top:-10px;
  margin-bottom: 10px;
  width: 30px;
}
